html, body{
    background-color: rgb(36, 36, 36);
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
}

.entire-wrapper{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.left-part{
    display: inline-block;
    height: 100%;
    width: 85%;
    background-color: rgb(204, 139, 139);
    vertical-align: top;
}

.right-part{
    display: inline-block;
    height: 100%;
    width: 14%;
    background-color: rgb(85, 85, 85);
    padding: 5px;
    box-sizing: border-box;
    color: white;
}

#viz_canvas{
    background-color: rgb(0, 0, 0);
}

.setting-panel{
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    background-color: rgb(36, 36, 36);
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid rgb(185, 235, 255);
}

.panel-title{
    font-size: 25px;
    font-weight: 600;
}

.control-item{
    padding: 5px 0;
}

.control-item span{
    font-size: 13px;
}

.control-item input{
    float: right;
    width: 50px;
    height: 15px;
    text-align: right;
}

.control-item select{
    font-family: inherit;
    max-width: 140px;
    min-width: 80px;
    float: right;
    height: 22px;
}

.control-item input[type="range"]{
    font-family: inherit;
    width: 120px;
    height: 5px;
}

.slider{
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    background-color: rgb(145, 145, 145);
    margin-top: 10px;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    transition: box-shadow 200ms ease-in-out;
}

.slider::-webkit-slider-thumb:hover{
    box-shadow: 0 0 5px 5px rgba(6, 255, 27, 0.267);
    transition: box-shadow 200ms ease-in-out;
}

.setting-panel .button-wrapper{
    width: 100%;
}

.setting-panel button{
    width: 100%;
    height: 30px;
    font-size: 13px;
    border: none;
    margin: 5px 0;
}

.setting-panel button:hover{
    background-color: rgb(129, 164, 179);
}

.setting-panel button:active{
    background-color: rgb(66, 91, 102);
}

.setting-panel button:focus{
    outline: none;
}

.setting-panel button:disabled{
    background-color: rgb(94, 94, 94);
    color: rgb(180, 180, 180);
}

.panel-desc-wrapper{
    padding: 2px;
}

.panel-desc-wrapper span{
    padding: 0 5px;
    font-size: 15px;
}

.panel-desc-title{
    font-weight: 700;
}

.panel-desc-value{
    float: right;
}

.switcher{
    float: right;
}

/* user attributes */


.toggle-switch, .toggle-switch .toggle-knob {
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.toggle-switch {
    height: 20px;
    width: 40px;
    display: inline-block;
    background-color: #b3b3b3;
    margin: 2px;
    border-radius: 20px;
    cursor: pointer;
    border: solid 1px transparent;
    vertical-align: middle;
    box-shadow: inset 1px 1px 9px -3px rgba(4, 4, 4, 0.08), 1px 2px 6px -2px rgba(0, 0, 0, 0.01);
}

.toggle-switch .toggle-knob {
    width: 18px;
    height: 16px;
    display: inline-block;
    background-color: #ffffff;
    border: solid 1px rgba(126, 126, 126, 0.07);
    box-shadow: 0 1px 3px rgba(107, 106, 106, 0.26), 0 5px 1px rgba(107, 106, 106, 0.13);
    border-radius: 26px;
    margin: 1px 1px;
}

.toggle-switch.active {
    background-color: #77e189;
    border: solid 1px transparent;
}

.toggle-switch.active .toggle-knob {
    margin-left: 19px;
}